@import url("https://fonts.googleapis.com/css?family=Bitter");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: bitter;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
a.active {
  border-bottom: 2px solid #85c2ff;
}
.header {
  height: auto;
}
#header-scroll {
  position: fixed;
  height: 100%;
  background: rgba(0,0,0,0.4);
  left: 0;
  top: 0;
  float: left;
  width: 100%;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#header-scroll h1 {
  /* padding: 200px 0; */
  height: 100%;
  font-size: 4em;
  text-align: center;
  line-height: 40px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#header-scroll.small {
  height: auto;
  display: inline-block;
}
#header-scroll.small h1 {
  padding: 10px 0; 
  height: auto;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
body {
  font-family: 'Open Sans', sans-serif;
}
nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
}
nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}
nav ul li a:hover {
  color: #85c2ff;
}
h1 {
  font-size: 5em;
  color: #34495e;
}
section {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  /* background: #fff;
  border-bottom: 1px solid #ccc; */
  text-align: center;
}
/* section:nth-child(even) {
  background: #ecf0f1;
}
section:nth-child(odd) {
  background: #eff9ff;
} */
/* .sections section:first-child {
  /* margin-top: 100px; */

.picture{
    background-image: url("top.jpg");
    background-size: cover;
}
.siro{
    color: #fff;
    font-size: 84px;
    font-family: 'Tw Cen MT Condensed Extra Bold';

        padding-bottom: 8px;
        background:
          radial-gradient(circle closest-side, currentColor 80%, transparent) bottom /12px 12px no-repeat,
          radial-gradient(circle closest-side, currentColor 80%, transparent) bottom /12px 12px no-repeat,
          linear-gradient(currentColor 0 0) bottom left /var(--d, 0%) 12px no-repeat,
          linear-gradient(currentColor 0 0) bottom right/var(--d, 0%) 12px no-repeat;
        transition: 0.3s, background-position 0.3s 0.3s;



  transition: 0.5s;
  margin: 0;
  text-align: center;
  /* padding-top: calc(50vh - 20pt);
  display: block; */
  font-weight: 700;
}
.siro:hover {
    --d: 80%;
    background-position: bottom left, bottom right;
    transition: 0.3s, background-size 0.3s 0.3s;
  }
p{
    font-size: 14px;
    line-height: 2em;
    font-family: '游明朝';
}
.bold{
    font-size: 32px;
}

.title-back{
    display: inline-block;
    margin-top: 0;
    right: 10%;
    width: 90%;
    height: 80px;
    background-image: url(図1.png);
    background-size: cover;
}
.top2{
    background-color: #e8ded2;
}
.top3{
    background-color: #a3d2ca;
}
.top4{
    background-color: #5eaaa8;
}
.top5{
    background-color: #056676;
}
.siro2{
    color: #fff;
}
.btn-flat-simple {
  width: 12%;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #696969;
    font-size: 14px;
    background: #a3d2ca;
    transition: .4s;
  }
  
  .btn-flat-simple:hover {
    background: #696969;
    color: white;
  }
.vo{
  height: 10%;
  width: 100%;
}
.blogger-icon{
  width: 50px;
}
.a{
  margin-top: 20px;
}
.bol{
  font-size: 18px;
}
.w{
  color: #fff;
}
.btn-flat-simple1 {
  width: 20%;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #696969;
    font-size: 14px;
    background: #5eaaa8;
    transition: .4s;
  }
  
  .btn-flat-simple1:hover {
    background: #696969;
    color: white;
  }
.bb{
  margin-top: 150px;
}
